*{
    margin:0;
    padding:0;
    box-sizing: border-box;
   } 
   
   header{
    background:black;
    color:white;
    padding:20px;
    text-align: center;
   }
   nav{
    display:flex;
    gap:15px;
    margin-top: 10px;
    justify-content: flex-end;
   }
   nav a{
    color:aliceblue;
    border: 1px solid white;
    font-size: larger;
   }
   .skills,.projects{
    -ms-flex-align: center;
    flex-wrap: wrap;
    gap:15px;
   }
   .skill,.project{
    flex: content;
    background: local;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
   }
